<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<system.webServer>
		<httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
			<remove statusCode="403"/>
			<remove statusCode="404"/>
			<remove statusCode="500"/>
			<error statusCode="403" responseMode="ExecuteURL" path="/Error403" />
			<error statusCode="404" responseMode="ExecuteURL" path="/http://localhost:63291/404Gourmetz.html" />
			<error statusCode="500" responseMode="ExecuteURL" path="/Error500" />
		</httpErrors>
	</system.webServer>
</configuration>

	
